# Bank Dataset

https://archive.ics.uci.edu/ml/datasets/bank+marketing

In [ ]:
import sys
sys.path.append("..")
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.sql.functions import col
from pyspark.sql.types import BooleanType
from pyspark.sql.session import SparkSession
from helpers.path_translation import translate_to_file_string
from helpers.data_prep_and_print import print_df

In [ ]:
input_file = translate_to_file_string("../../data/bank.csv")

In [ ]:
spark = (SparkSession
       .builder   
       .master("local[*]")
       .appName("Bank DataSet SQL")
       .getOrCreate())

In [ ]:
# load data file.
# create a DataFrame
df = spark.read.option("header", "true") \
       .option("inferSchema", "true") \
       .option("delimiter", ";") \
       .csv(input_file) \
       .withColumn("housing",col("housing").cast(BooleanType())) \
       .withColumn("loan",col("loan").cast(BooleanType())) \
       .withColumn("y",col("y").cast(BooleanType()))
df.printSchema()

In [ ]:
print_df(df,10)

SQL

In [ ]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("bank")
# Execute the SQL
sql_result = spark.sql("SELECT * FROM BANK WHERE balance > 1000")
print_df (sql_result,10)

In [ ]:
sql_result = spark.sql("SELECT sum(balance) FROM BANK")
print_df (sql_result,10)

In [ ]:
sql_result = spark.sql("SELECT count(*) FROM BANK WHERE marital = 'married'")
print_df (sql_result,10)

In [ ]:
sql_result = spark.sql("Select count(y) FROM BANK WHERE y = 'True'")
print_df(sql_result)

In [ ]:
spark.stop()